/* for small laptop's - 1024px */
@media screen and (max-width: 1024px) {
  /* navbar-section */
  .navbar-list {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .navbar {
    justify-content: flex-end;
    padding-inline: 1rem;
  }
  .logo {
    margin-right: auto;
  }
}

/* for tablet's - 980px */
@media screen and (max-width: 980px) {
}

/* for medium devices - 767px */
@media screen and (max-width: 767px) {
  /* navbar-section */
  .buy-link {
    text-align: center;
    gap: 0;
    line-height: 1.5;
    padding-block: 10px;
    padding-inline: 1rem;
  }
  /* macbooks-section */
  .macbooks{
    display: flex;
    justify-content: center;
  }
  .macbook-section-img{
    width: 70%;
  }
  .macbook-header{
    padding-top:37px;
  }
  .macbook-header h2{
    font-size: 32px;
  }
  .macbook-header p{
    font-size: 19px;
    margin-top: 4px;
  }
  .macbook-header-btns{
    margin-top: 17px;
  }
  .cta-btns{
    padding: 7px 11px;
    font-size: 14px;
  }
  .macbook-section{
    height: 60vh;
  }
  .macbooks{
    margin-top:1rem;
  }
}

/* for small devices - 479px */
@media screen and (max-width: 479px) {
  /* navbar-section */
  .navbar {
    padding-inline: 0.5rem;
    align-items: center;
    gap: 30px;
  }
  /* buy-link section */
  .buy-link {
    gap: 0;
    line-height: 1.5;
    padding-block: 10px;
    padding-inline: 1rem;
  }
  /* macbooks-section */
  .macbook-header{
    padding-top: 15px;
  }
  .macbook-header p{
    font-weight:400;
  }
}

/* for large laptop's - 1440px */
@media screen and (max-width: 1440px) {


}

@media screen and (min-width: 1440px) {

}

/* for extra large screens - 2550px */
@media screen and (min-width: 2560px) {
}

/* Specific media queries for specific sizes */
