/* for tablet's - 980px */
@media screen and (max-width: 980px) {
}

/* for medium devices - 767px */
@media screen and (max-width: 767px) {
  /* navbar-section */
  .buy-link {
    text-align: center;
    gap: 0;
    line-height: 1.5;
    padding-block: 10px;
    padding-inline: 1rem;
  }
  /* ipadpros-section */
  .ipadpro-header {
    padding-top: 37px;
  }
  .ipadpro-header h2 {
    font-size: 32px;
  }
  .ipadpro-header p {
    font-size: 19px;
    margin-top: 4px;
  }
  .ipadpro-header-btns {
    margin-top: 17px;
  }
  .ipad-pro-btns {
    padding: 7px 11px;
    font-size: 14px;
  }
  .ipadpro-section {
    height: 60vh;
  }
  .ipadpros {
    margin-top: 1rem;
  }
  /* macbooks-section */
  .macbooks {
    display: flex;
    justify-content: center;
  }
  .macbook-section-img {
    width: 70%;
  }
  .macbook-header {
    padding-top: 37px;
  }
  .macbook-header h2 {
    font-size: 32px;
  }
  .macbook-header p {
    font-size: 19px;
    margin-top: 4px;
  }
  .macbook-header-btns {
    margin-top: 17px;
  }
  .cta-btns {
    padding: 7px 11px;
    font-size: 14px;
  }
  .macbook-section {
    height: 60vh;
  }
  .macbooks {
    margin-top: 1rem;
  }
  /* iphone-section */
  .iphone-header-h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--primary-font-family);
    text-align: center;
  }
  .iphone-header-p {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--primary-font-family);
    text-align: center;
    margin-top: 4px;
  }
  .iphone-header-btns {
    margin-top: 17px;
  }
  .iphone-cta-btns {
    padding: 7px 11px;
  }
  .iphone-section {
    height: 500px;
  }
  .iphone {
    height: 80%;
    display: flex;
    align-items: center;
  }
  .iphone-section-container {
    gap: 0rem;
  }
  .iphone-section-img {
    transform: rotate(90deg);
    height: 75px;
  }
  /* features-section */
  .features-section-container{
    grid-template-columns: 1fr;
    row-gap: 12px;
    columns: 12px;
  }
  .features-section{
    padding: 0;
  }
  .features-section{
    margin-top: 12px;
  }

  /* for small devices - 479px */
 

  /* for large laptop's - 1440px */
  @media screen and (max-width: 1440px) {
    /* footer-container */
    .footer-container{
      margin-inline: 11%;
    }
  }

  @media screen and (min-width: 1440px) {
  }

  /* for extra large screens - 2550px */
  @media screen and (min-width: 2560px) {
  }

  /* Specific media queries for specific sizes */
  @media screen and (min-width:768px) and (max-width:1500px){
    .iphone{
      width: 100%;
    }
    .iphone-section-img{
      width: 100%;
    }
  }
}
@media screen and (max-width:1250px){
  .footer-container{
    margin-inline: 11%;
  }
}

/* for small laptop's - 1024px */
@media screen and (max-width: 1024px) {
  /* navbar-section */
  .navbar-list {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .navbar {
    justify-content: flex-end;
    padding-inline: 0.7rem;
  }
  .logo {
    margin-right: auto;
  }
  /* features-section */
  .feature-office h3{
    font-size: 32px;
    margin-top: 42px;

  }
  .feature-aipc h3{
font-size: 32px;
margin-top: 42px;
max-width: 250px;
  }
  .feature-intelligance h3{
font-size: 32px;
margin-top: 42px;
  }
  .feature-ipad h3{
    font-size: 32px;
    margin-top: 42px;
  }
  .feature-watch img{
    height: 42px;
    margin-top: 47px;
  }
  .feature-tradein h4{
    font-size: 32px;
    margin-top: 46px;
  }
  .feature-office p{
    font-size: 19px;
    margin-top: 4px;

  }
  .feature-watch p{
    font-size: 19px;
    margin-top: 9px;
  }
  .feature-intelligance .first-para{
font-size:19px;
margin-top: 4px;
  }
  .feature-intelligance .second-para{
    font-size: 19px;
    margin-top: 11px;
  }
  .feature-ipad p{
    font-size: 19px;
    margin-top: 10px;
  }
  .feature-tradein p{
font-size: 19px;
margin-top: 9px;
  }
  /* footer-section */
  .footer-container{
    margin-inline: 1%;
  }
  /* nav-toggling for navbar-list */
  .navbar{
    position: relative;
  }
  .navbar-list{
    position: absolute;
    top:0;
    left: 0;
    background-color: #161617;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    padding-left: 30px;
  }
  .navbar-list li{
color:#F5F5F7;
font-weight: 500;
font-size: 1.7rem;
padding-bottom: 10px;
  }
}

@media screen and (max-width:860px){
  /* footer-section */
  .footer-container{
    margin: 0;
    padding-inline: 1rem;
  }
  .colum ul{
    display: none;
  }
  .foot-navlinks-container{
    flex-direction: column;
  }
  .colum h3{
    font-size: 12px;
    color: #1E1E1E;
    font-weight: 350;
    margin-bottom: 0;
    width: 100%;
  }
  .inner-links{
    margin-top: 0;
  }
  .shop-learn{
    width: 100%;
  }
  .colum{
    width: 100%;
  }
.colum h3{
  font-weight: 400;
}
  .accordion i{
    display: inline-block !important;
    font-weight:600;
  }
  .special-footer-spacer{
    display: block;
  }
  .panel{
    padding-left: 14px;
    padding-block:10px;
  }
  .finisher-footer{
    padding-top: 17px;
    padding-bottom: 9px;
  }
  .india{
    display: none;
  }
  .copyright{
    flex-direction: column;
    align-items:flex-start;
    gap: 5px;
  }
  .privacy{
    margin: 0;
  }
  .more-ways p::after{
    content:"India";
    font-weight:500;
    display: block;
    padding-top: 1rem;
  }
  .copyright{
    padding-top: 0;
  }
  .colum ul li a{
    font-weight:400;
  }
}
@media screen and (max-width: 479px) {
  /* navbar-section */
  .navbar {
    padding-inline: 0.5rem;
    align-items: center;
    gap: 30px;
  }
  /* buy-link section */
  .buy-link {
    gap: 0;
    line-height: 1.5;
    padding-block: 10px;
    padding-inline: 1rem;
  }
  /* ipadpros-section */
 .ipadpros{
  width: 95vw;
 }
  /* macbooks-section */
  .macbook-header {
    padding-top: 33px;
  }
  .macbook-header p {
    font-weight: 400;
  }
  /* iphone-section */
  .iphone-header{
    padding-top: 37px;
  }
  /* features-section */
  .feature-2{
    background-position: center;
    background-size: 270% 95%;
  }
  .feature-intelligance .second-para{
    text-align: center;
  }
  /* slide-show section*/
  .slide-images{
    aspect-ratio: 16/9;
    border-radius: 0;
  }
  .slide-show-section{
    padding-inline: 0;
    padding-block:12px;
  }
}
