/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
:root {
  --primary-font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --primary-font-size: 12px;
  --primary-font-weight: 400;
  --primary-color: rgb(0, 0, 0);
  --sections-background-color: #f5f5f7;
  --bubbles-paragraph-color: #ffffff;
  --stores-svgs-background-color: #007afe;
}
.flex {
  display: flex;
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}

/* header :- navbar-section */
.navbar {
  justify-content: center;
  gap: 33px;
}
.navbar-list {
  list-style: none;
  gap: 41px;
}
.navbar-list li {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  font-family: var(--primary-font-family);
color:#1E1E1E;
  cursor: pointer;
}
.nav-toggle{
display: none;
}

/* header :- buy-link section */
.buy-link {
  justify-content: center;
  gap: 3px;
  padding-block: 12px;
  flex-wrap: wrap;
  background-color: #1D1D1F;
  color: #FFFFFF;
}
.buy-link p,
a,
i {
  font-size: 14px;
  font-weight: var(--primary-font-weight);
  font-family: var(--primary-font-family);
}
.buy-link a,
i {
  color: #0171E2;
}
.buy-link a {
  text-decoration: none;
}
.buy-link p {
  color: #FFFFFF;
}

/* macbook-section */
.macbook-section{
  display: flex;
  justify-content: center;
}
.macbook-section{
  height:69.2vh;
  background-color: var(--sections-background-color);
}
.macbook-header{
  padding-top: 55px;
}
.macbook-header h2{
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  font-family: var(--primary-font-family);
  text-align: center;
}
.macbook-header p{
  text-align: center;
  font-size: 28px;
  font-weight: 350;
  line-height: 1.14;
  font-family: var(--primary-font-family);
}
.macbook-header-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 19px;
}
.cta-btns{
  font-size: 17px;
  font-weight: 400;
  font-family: var(--primary-font-family);
  text-decoration: none;
  border-radius: 980px;
  cursor: pointer;
}
.cta-learnmore-btn{
  padding-block: 11px;
  padding-inline: 21px;
  color: #ffffff;
  background-color: #007afe;
}
.cta-buy-btn{
 border: 1px solid #007afe;
 padding-block: 11px;
 padding-inline: 21px;
 color: #007afe;
}
.cta-buy-btn:hover{
  background-color: #007afe;
  color: #ffffff;
}
.macbook-section-img{
width:100%;
height:37vh;
}
.macbooks{
  margin-top: 2rem;
}

/* iphone-section */
.iphone-section{
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  height: 69.2vh;
}
.iphone-header-h2 , .iphone-header-p{
  color: #F5F5F7;
}
.iphone-section-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5rem;
}
.iphone-header-h2{
  font-size: 56px;
  font-weight: 500;
  font-family: var(--primary-font-family);
  text-align: center;
}
.iphone-header-p{
  font-size: 28px;
  font-weight: 400;
  font-family: var(--primary-font-family);
  text-align: center;
  margin-top: 6px;
}
.iphone-header{
  padding-top: 55px;
}
.iphone-section-img{
  height:25vh;
  width: 100%;
}

/* features-section */
.features-section{
  padding:12px 0 12px 12px;
}
.features-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:repeat(3,1fr);
  row-gap: 12px;
  column-gap: 12px;
}
.feature{
  width:100%;
  height:65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-1{
  background-image:url('./assets/feature-1.jpg');
}
.feature-2{
  background-image: url('./assets/feature-2.jpg');
}
.feature-3{
  background-image: url('./assets/feature-3.jpg');
}
.feature-4{
  background-image: url('./assets/feature-4.jpg');
}
.feature-5{
  background-image: url('./assets/feature-5.jpg');
}
.feature-6{
  background-image: url('./assets/feature-6.jpg');
}
/* feature-office */
.feature-office{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-office h3{
  font-family: var(--primary-font-family);
  font-size: 40px;
  margin-top: 53px;
  color: #F5F5F7;
  font-weight: 500;
}
.feature-office p{
  font-size: 21px;
  font-weight: 400;
  color: #f5f5f7;
  margin-top: 4px;
  font-family: var(--primary-font-family);
}
.office-cta-links{
  margin-top: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 14px;
}
.office-cta-links-btns{
  padding: 7px 15px;
  border: 1px solid #f5f5f7;
  border-radius: 980px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.office-learnmore-btn{
  color: #000000;
  background-color: #F5F5F7;
}
.office-watch-film-btn{
  color: #F5F5F7;
}
/* Ai-pc feature */
.feature-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-aipc h3{
  margin-top: 53px;
  font-family: var(--primary-font-family);
  font-size: 40px;
  font-weight: 500;
  max-width: 315px;
  text-align: center;
}
.aipc-cta-link{
  margin-top: 17px;
  text-align: center;
}
.aipc-cta-btn{
  text-decoration: none;
  color: #F5F5F7;
  background-color: #0171E2;
  padding: 7px 15px;
  border-radius: 980px;
  font-size: 14px;
  font-weight: 400;
}
/* feature-watch */
.feature-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-watch-img{
  height: 53px;
  margin-top: 59px;
}
.watch-cta-links{
  text-align: center;
  display: flex;
  gap: 14px;
  margin-top: 17px;
}
.watch-cta-btns{
  padding: 7px 15px;
  border: 1px solid #f5f5f7;
  border-radius: 980px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.watch-learnmore-btn{
  color: #f5f5f7;
  background-color: #0171E2;
  border: none;
  font-size: 14px;
}
.watch-buy-btn{
  background-color: #000000;
  color: #0171E2;
  border: 1px solid #0171E2;
}
.feature-watch p{
  font-size: 21px;
  font-weight: 400;
  color: #f5f5f7;
  margin-top: 9px;
  font-family: var(--primary-font-family);
}
.feature-watch{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* feature-intelligance */
.feature-4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-intelligance h3{
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 40px;
  font-weight: 500;
  margin-top: 59px;
}
.feature-intelligance .first-para{
  margin-top: 3px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  text-align: center;
  font-size: 21px;
}
.feature-intelligance .second-para{
  font-size: 17px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  margin-top: 12px;
  color: #6E6E73;
}
.intelligance-cta-links{
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.intelligance-cta-btns{
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 980px;
  font-size: 14px;
  font-weight: 400;
}
.intelligance-learnmore-btn{
background-color: #0171E2;
color: #F5F5F7;
}
.intelligance-watchfilm-btn{
border: 1px solid #0171E2;
color: #0171E2;
background-color: #F5F5F7;
}
/* feature-ipad */
.feature-5{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-ipad h3{
margin-top: 58px;
text-align: center;
font-family: var(--primary-font-family);
font-size: 40px;
font-weight: 500;
}
.feature-ipad p{
margin-top: 10px;
text-align: center;
font-size: 21px;
font-weight: 400;
font-family: var(--primary-font-family);
color: #1D1D1F;
}
.ipad-cta-links{
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-top: 17px;
}
.ipad-cta-btns{
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 980px;
  font-size: 14px;
  font-weight: 400;
}
.ipad-learnmore-btn{
  background-color: #000000;
  color: #f5f5f7;
}
.ipad-buy-btn{
  border: 1px solid #000000;
  color: #000000;
}
/* feature-tradein */
.feature-6{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-tradein h4{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  font-family: var(--primary-font-family);
  margin-top: 58px;
}
.feature-tradein p{
font-size: 21px;
font-weight: 400;
color: #1d1d1f;
font-family: var(--primary-font-family);
margin-top: 10px;
}
.tradein-cta-links{
display: flex;
gap: 14px;
justify-content: center;
margin-top: 17px;
}
.tradein-get-btn{
border-radius: 980px;
color: #F5F5F7;
background-color: #0171E2;
font-size: 14px;
font-weight: 400;
padding: 7px 15px;
text-decoration: none;
}

/* slider-section */
.slide-show-section{
  padding: 0 12px 12px 12px;
}
.slide-show-container{
  position: relative;
  max-width:100%;
  margin: 0 auto;
}
.slide-images{
  display: flex;
  aspect-ratio: 16/8;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  box-shadow:0 1.5rem 3rem -0.5rem hsla(0,0%,0%,0.25);
  border-radius: 0.5rem;
}
.slide-images img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display: flex;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index:10;
  column-gap: 1rem;
}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}

/* footer-section */
footer{
  background-color: #F5F5F7;
}
.guidlines-section{
  padding-top: 17px;
  padding-bottom: 11px;
}
.footer-container{
  margin-inline:20%;
  padding-inline:1.4rem;
}
.guidlines-list{
  list-style: none;
}
.guidlines-list li{
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: 400;
  color: #6C6C6C;
  padding-bottom: 10px;
}
.guidlines-list li a{
  color: #474748;
  text-decoration-color:#444445 ;
  font-size: 12px;
  font-weight: 400;
}
.footer-spacer{
  border: 0.5px solid #CECECF;
}
.foot-navlinks-container{
  display: flex;
}
.colum ul{
  list-style: none;
}
.colum ul li{
  margin-bottom: 9.5px;
}
.colum h3{
  color: #1E1E1E;
  font-size:12px;
  font-weight: 500;
  font-family: var(--primary-font-family);
  line-height: inherit;
  margin-bottom: 9.5px;
}
.colum ul li a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 350;
  color: rgba(0, 0, 0, 0.72);
}
.colum ul li a:hover{
  text-decoration: underline;
}
.inner-links{
  margin-top: 25px;
}
.colum{
  width: 20%;
}
.footer-navs-container{
padding-top: 20px;
}
.more-ways p{
  font-size: 12px;
  font-weight: 400;
  color: #6C6C6C;
  font-family: var(--primary-font-family);
  line-height: 1.3333733333;
    letter-spacing: -0.01em;
}
.more-ways{
  padding-bottom: 19px;
}
.more-ways a{
  font-size: 12px;
  color: #0065CC;
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
}
.finisher-footer{
  padding-top: 37px;
  padding-bottom: 11px;
}
.copyright{
  padding-top: 21px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.copyright-reserved p{
  font-size: 12px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  color: #6C6C6C;
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
}
.privacy a{
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #6C6C6C;
  font-family: var(--primary-font-family);
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
}
.privacy a:hover{
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.72);
}
.india{
  font-family: var(--primary-font-family);
  line-height: 1.3333733333;
  letter-spacing: -0.01em;
  color: #6C6C6C;
  font-size: 12px;
  font-weight: 400;
  margin-left: auto;
}
.privacy a::after{
  content: "|";
  padding-left: 10px;
  padding-right: 6.5px;
}
.special::after{
  display: none;
}
.privacy{
  margin-left: 2.5rem;
}

/* footer-down-arrow-toggler */
.accordion i{
  color: #1E1E1E;
  font-size: 12px;
  position: absolute;
  right: 0;
  display: none !important;
}
.colum h3{
  position: relative;
  padding-block: 10px;
}
.special-footer-spacer{
  display: none;
}



.border{
  border: 2px solid red;
}