/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
:root {
  --primary-font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --primary-font-size: 12px;
  --primary-font-weight: 400;
  --primary-color: rgb(0, 0, 0);
  --sections-background-color: #f5f5f7;
  --bubbles-paragraph-color: #ffffff;
  --stores-svgs-background-color: #007afe;
}
.flex {
  display: flex;
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}

/* header :- navbar-section */
.navbar {
  justify-content: center;
  gap: 33px;
}
.navbar-list {
  list-style: none;
  gap: 41px;
}
.navbar-list li {
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  font-family: var(--primary-font-family);
  color: #3f3f3f;
  cursor: pointer;
}
.nav-toggle {
  display: none;
}

/* header :- buy-link section */
.buy-link {
  justify-content: center;
  gap: 3px;
  padding-block: 12px;
  flex-wrap: wrap;
}
.buy-link p,
a,
i {
  font-size: 14px;
  font-weight: var(--primary-font-weight);
  font-family: var(--primary-font-family);
}
.buy-link a,
i {
  color: #98bef2;
}
.buy-link a {
  text-decoration: none;
}
.buy-link p {
  color: #1d1d1f;
}

/* macbook-section */
.macbook-section{
  display: flex;
  justify-content: center;
}
.macbook-section{
  height:69.2vh;
  background-color: var(--sections-background-color);
}
.macbook-header{
  padding-top: 55px;
}
.macbook-header h2{
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  font-family: var(--primary-font-family);
  margin-top: 6px;
  text-align: center;
}
.macbook-header p{
  text-align: center;
  font-size: 28px;
  font-weight: 350;
  line-height: 1.14;
  font-family: var(--primary-font-family);
}
.macbook-header-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 19px;
}
.cta-btns{
  font-size: 17px;
  font-weight: 400;
  font-family: var(--primary-font-family);
  text-decoration: none;
  border-radius: 980px;
  cursor: pointer;
}
.cta-learnmore-btn{
  padding-block: 11px;
  padding-inline: 21px;
  color: #ffffff;
  background-color: #007afe;
}
.cta-buy-btn{
 border: 1px solid #007afe;
 padding-block: 11px;
 padding-inline: 21px;
 color: #007afe;
}
.cta-buy-btn:hover{
  background-color: #007afe;
  color: #ffffff;
}
.macbook-section-img{
  height:37vh;
}
.macbooks{
  margin-top: 2rem;
}




.border{
  border: 2px solid red;
}